.button {
    background-color: white;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.3);
    border-color: black;
    border: 1rem;
}

.button:hover {
    cursor: pointer;

}

.button:active {
    background-color: var(--primary-monochrome);
}