.navbar {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: var(--primary-color);
}

/* .navbar__icon {
    padding: 2.5rem;
    margin-left: 1rem;
    background-image: url("../img/logo_ete.png");
    background-repeat: no-repeat;
    background-size: contain;
} */

.navbar__title h4 {
    color: white;
}

.navbar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.trabalhos__bar {
    display: none;
}

.trabalhos__list {
    display: flex;
    justify-content: space-between;
}

.trabalhos__list li {
    list-style:  none;
    margin-right: 1rem;
}

.trabalhos__list a {
    color: white;
    text-decoration: none;
}

.trabalhos__list a:hover {
    color: var(--secondary)
}


.navbar__item {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
}

.navbar__item:hover {
    background-color: blueviolet;
}

.navbar__item:nth-child(2):hover .trabalhos__bar {
    display: block;
}
