.navbar {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
    background-color: var(--primary-color);
} 

.navbar__container {
    display: flex;
    flex-direction: column;
}

.trabalhos__bar {
    display: none;
}

.trabalhos__list {
    display: flex;
    justify-content: space-between;
}


.navbar__item {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar__item:hover {
    background-color: blueviolet;
}

.navbar__item:nth-child(2):hover .trabalhos__bar {
    display: block;
}
